.WeighingSystem{    
    position: relative;
    left:355px;
    top:0px; 
    /* padding:5px; */
    /* border: solid 3px white;   */
}

.ForklifterWithArrow{
    position: relative;
    left:346px;
    top: -20px;
}
.RollerWayForgingMachine{
    position: relative;
    left:455px;
    top: 50px;
}

.ForgingMachineBlock{
    position: relative;
    /* left:350px; /*początek to 270 
    top: 50px; */
}
.ForgingDirectionArrow{
    position: relative;
    left:635px;
    top: 120px;
}
.LongRollerWay{
    position: relative;    
    left:-440px;
    top: 136px;
}
.ArrowFromForgingToAccum{
    position: relative;    
    left:-470px;
    top: 98px;
}
.LeftArrowIndirect{
    position: relative;    
    left:-110px;
    top: 45px;
}
.LeftArrowDirect{
    position: relative;    
    left:-30px;
    top: 155px;
}
.RollerWayToAccumulationGrid{
    position: relative;    
    left:55px;
    top: 63px;
}
.AccumulationGrid{
    position: relative;    
    left:205px;
    top: 100px;
}
.DownArrowCoolingBed{
    position: relative;    
    left:-27px;
    top: 200px;
}
.DownArrowAccum{
    position: relative;    
    left:143px;
    top: 110px;
}
.Shear{
    position: relative;    
    left: -675px;
    top: 100px; 
}

.MarkingMachine{
    position: relative;    
    left:0px;
    top: 160px; 
}
.CoolingBed{
    position: relative;    
    left:157px;
    top: 181px; 
}
.Crane{
    position: relative;    
    left:240px;
    top: 270px; 
}
.row{
    position: relative;
    height: 500px;
    width: 100%;
    margin-top: 300px;
}
.weightLabel{
    position: absolute;   
    top: 160px;
    left:890px;
}